<?php
	$mediaUrl = $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl();
?>

<div class="contain">
	<div class="inner-contain">
		<div class="top-row">
			<div class="left-block">
				<a href="<?= $this->getUrl("home/plus.html"); ?>">
					<img src="<?php echo $mediaUrl ?>wysiwyg/bureaustoel.jpg" />
					<span class="block-title">BUREAUSTOEL</span>
					<!-- <span class="block-sub">DE NIEUWSTE COLLECTIE</span> --!>
				</a>
			</div>
			<div class="right-block">
				<div class="top-right-block">
					<a href="<?= $this->getUrl("home/stepps.html"); ?>">
						<img src="<?php echo $mediaUrl ?>wysiwyg/Thuiswerkplek.jpg" />
						<span class="block-title">THUIS WERKPLEK</span>
					<!--	<span class="block-sub">NIEUWE KASTEN</span> --!>
					</a>
				</div>
				<div class="bottom-block">
					<div class="bottom-left-block">
						<a href="<?= $this->getUrl("home/simplic.html"); ?>">
							<img src="<?php echo $mediaUrl ?>wysiwyg/zit-sta werkplek.jpg" />
							<span class="block-title">ZIT-STA WERKPLEK</span>
						</a>
					</div>
					<div class="bottom-right-block">
						<a href="<?= $this->getUrl("home/xeon.html"); ?>">
							<img src="<?php echo $mediaUrl ?>wysiwyg/Lockers.jpg" />
							<span class="block-title">LOCKERS</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="mid-row">
			<div class="inner-mid-row">
				<div class="mid-left-block">
					<a href="<?= $this->getUrl("home/g4.html"); ?>">
						<img src="<?php echo $mediaUrl ?>wysiwyg/werkplaats.jpg" />
						<span class="block-title">WERKPLAATS</span>
					</a>
				</div>
				<div class="mid-right-block">
					<a href="<?= $this->getUrl("home/atixa.html"); ?>">
						<img src="<?php echo $mediaUrl ?>wysiwyg/bureau.jpg" />
						<span class="block-title">BUREAU</span>
					</a>
				</div>
			</div>
		</div>
		<div class="bottom-row">
			<div class="bottom-bar">
				<a href="<?= $this->getUrl("home/h2.html"); ?>">
					<img src="<?php echo $mediaUrl ?>wysiwyg/zitten.jpg" />
					<span class="block-title">ZITTEN</span>
				</a>
			</div>
		</div>
	</div>
</div>