/* Home Category Blocks */
.contain{
	width:100%;
}
.inner-contain{
	width:70%;
	margin: 0 auto;
}
.inner-contain a img{
	width:100%;
	height: inherit;
	 -webkit-transition: all 1s ease;
  	transition: all 1s ease;
  	position: absolute;
}
.inner-contain a{
	width:100%;
	height:100%;
}
.inner-contain .left-block:hover img,
.inner-contain .top-right-block:hover img,
.inner-contain .bottom-left-block:hover img,
.inner-contain .bottom-right-block:hover img,
.inner-contain .mid-left-block:hover img,
.inner-contain .mid-right-block:hover img,
.inner-contain .bottom-bar:hover img{
	-webkit-filter: brightness(50%);
    filter: brightness(50%);
}
.top-row{
	width:100%;
	height:400px;
	margin-bottom:5px;
}
.top-row:after{
	content:'';
	display:block;
	clear:both;
}
.left-block{
	position:relative;
	height:400px;
	width:calc(50% - 5px);
	margin-right:5px;
	background:green;
	float:left;
}
.left-block .block-title,
.top-right-block .block-title{
	position:absolute;
	width:100%;
	text-align:center;
	top:calc(50% - 50px);
	font-weight:bold;
	font-size:35px;
	color:white;
}
.left-block .block-sub,
.top-right-block .block-sub{
	position:absolute;
	width:100%;
	text-align:center;
	top:calc(50% + 5px);
	font-size:35px;
	color:white;
}
.right-block{
	height:400px;
	width:calc(50% - 5px);
	margin-left:5px;
	float:right;
}
.top-right-block{
	width:100%;
	height:195px;
	margin-bottom:5px;
	position:relative;
}
.bottom-block{
	width:100%;
	height:195px;
	margin-top:5px;
	float:left;
}
.bottom-block:after{
	content:'';
	display:block;
	clear:both;
}
.bottom-left-block{
	width:calc(50% - 5px);
	height:195px;
	margin-right:5px;
	float:left;
	position:relative;
}
.bottom-left-block .block-title,
.bottom-right-block .block-title,
.mid-left-block .block-title{
	position:absolute;
	text-align:center;
	color:white;
	width:100%;
	top:calc(50% - 12.5px);
	font-size:25px;
}
.bottom-right-block{
	width:calc(50% - 5px);
	height:195px;
	margin-left:5px;
	float:right;
	position:relative;
}
.mid-row{
	width:100%;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
	float:left;
}
.inner-mid-row{
	width:100%;
	height:200px;
	float:left;
}
.mid-row:after{
	content:'';
	display:block;
	clear:both;
}
.mid-left-block{
	width:calc(25% - 5px);
	height:200px;
	float:left;
	margin-right:5px;
	position:relative;
}
.mid-right-block{
	width:calc(75% - 5px);
	height:200px;
	float:right;
	margin-left:5px;
	position:relative;
}
.mid-right-block .block-title,
.bottom-bar .block-title{
	position:absolute;
	text-align:center;
	color:white;
	width:100%;
	top:calc(50% - 20px);
	font-weight:bold;
	font-size:35px;
}
.bottom-row{
	float:left;
	width:100%;
	margin-top:5px;
	height:200px;
}
.bottom-row:after{
	content:'';
	display:block;
	clear:both;
}
.bottom-bar{
	width:100%;
	height:200px;
	background:indigo;
	position:relative;
}
@media only screen and (max-width: 1280px) {
	.inner-contain{
		width:80%;
	}
}
@media only screen and (max-width: 992px) {
	.left-block{
		width:100%;
		margin-right:0px;
		margin-bottom:5px;
	}
	.right-block{
		width:100%;
		margin-left:0px;
		margin-bottom:5px;
		margin-top:5px;
	}
	.bottom-block{
		margin-top:5px;
	}
	.mid-left-block{
		width:calc(35% - 5px);
	}
	.mid-right-block{
		width:calc(65% - 5px);
	}
}
@media only screen and (max-width: 700px) {
	.inner-contain{
		width:100%;
	}
	.left-block{
		height:325px;
	}
}
@media only screen and (max-width: 600px) {
	.mid-left-block{
		display:none;
	}
	.mid-right-block{
		width:100%;
	}
}
/* End Home Blocks */
/* Addional css */
.product-item-img{
	height:265px;
	overflow:hidden;
}
.home-view{
	width:100%;
	padding-top:75px;
	padding-bottom:75px;
	background-color:red;
	text-align:center;
	position:relative;
}
.home-view img{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}
.home-view h3{
	position:absolute;
	color:white;
	width:100%;
	top:40px;
}
.home-view div{
	position:absolute;
	text-align:center;
	width:100%;
	bottom:50px;
}
.home-view div a{
	color:white;
	background-color:#EEA73F;
	padding:7.5px 22.5px 7.5px 22.5px;
}
.home-view div a:hover{
	background-color:#b76009;
}
.bullet li{
	background:#EEA73F;
}
/* End Additional css */
