<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php /** @var \Magento\Tax\Pricing\Render\Adjustment $block */ ?>

<?php if ($block->displayBothPrices()) : ?>
    <span id="<?= $block->escapeHtmlAttr($block->buildIdWithPrefix('price-excluding-tax-')) ?>"
          data-label="<?= $block->escapeHtmlAttr(__('Excl. Tax')) ?>"
          data-price-amount="<?= /* @noEscape */ $block->getRawAmount() ?>"
          data-price-type="basePrice<?php echo ($block->getData('price_type') === 'oldPrice') ? 'old' : ''?>"

          class="price-wrapper price-excluding-tax">
        <span class="price"><?= /* @noEscape */ $block->getDisplayAmountExclTax() ?></span></span>
<?php endif; ?>
