<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<span class="product-image-container">
    <span class="product-image-wrapper">
      <img
        data-bind="attr: {'src': getSrc($parents[1]), 'alt': getAlt($parents[1]), 'title': getAlt($parents[1]) }"/>
    </span>
  </span>