/**
 * Infortis/ultimo
 * Custom CSS fallback
 * app/design/frontend/Infortis/ultimo/web/css/_custom.less
 */

//
//  Custom CSS fallback
//  _____________________________________________

//  Fallback file for CSS overrides in custom child-themes.
//
//  To add custom CSS styles, create custom child-theme (with Ultimo
//  as its parent theme) and create "_custom.less" in the following location:
//  <YOUR_MAGENTO_INSTALL_DIRECTORY>/app/design/frontend/<YOUR_VENDOR_NAME>/<YOUR_THEME_NAME>/web/css/_custom.less

//  Below you can find usage examples.



// & when (@media-common = true) {
//
//     //  Set border color of search box
//
//     .header-regular .block-search input.input-text {
//         border-color: red;
//     }
//
// } // end: media-common



//  Uncomment the line below to disable Font Awesome icons:

// @fontawesome-enable: false;

.block-title.heading{
  text-transform: uppercase;
}
.field.search{
  #search{
    border-radius: 10000px;
    border:1px solid #3d3d3d;
  }
}
